.itemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    background: #fff;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px #000;
    margin: 10px;
   padding: 5px 20px;
}
.itemContainer img{
    border-radius: 10px; 
    height: 200px;
    width: auto;
}

.itemContainer span{
    position: relative;
    top: -20px;
    font-size:20px;
    font-weight: 600;
}